body{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    background: #fff;
    color: #fff;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url(photo/banner.jpg);
    background-size: cover;
    background-position: center;
}
.banner .navbar{
    margin-top: 4%;
}
.banner .navbar-brand{
    color: #fff;
    font-weight: 700;
    font-size: 1.8em;
    margin-left: 5%;
    letter-spacing: 1px;
}
.banner .nav{
    margin-right: 10%;
}
.banner .nav li a{
    text-transform: uppercase;
    font-size: 1.2em;
    color: #efefef;
}
.banner .info{
      margin-top: 15%;
      transform: translateY(-15%);
}
.banner .info h1{
    font-size: 2.4em;
    font-weight: 700;
    color: white;
    letter-spacing: 2px;
}
.banner .info p{
    font-size: 1.5em;
    font-weight: 400;
    color: white;
    letter-spacing: px;
}
.banner .info a{
    margin-left: 50%;
    transform: translateX(-50%);
    color: aliceblue;
    background-color: rgb(12, 76, 173) ;
    border: none;
    font-weight: 12px;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 4px;
}
.banner .info a:hover{
    background-color: rgb(1, 36, 88) ;
}








